<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.mapper.TravelUserMapper">
  <resultMap id="BaseResultMap" type="com.leo.pojo.TravelUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="title_name" jdbcType="VARCHAR" property="titleName" />
    <result column="follow_count" jdbcType="INTEGER" property="followCount" />
    <result column="recommend_count" jdbcType="INTEGER" property="recommendCount" />
    <result column="commend_count" jdbcType="VARCHAR" property="commendCount" />
    <result column="opend_id" jdbcType="VARCHAR" property="opendId" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="updata_time" jdbcType="TIMESTAMP" property="updataTime" />
    <result column="moblie" jdbcType="VARCHAR" property="moblie" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
  </resultMap>

</mapper>