<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leo.mapper.TravelUserCommentRelMapper" >
  <resultMap id="BaseResultMap" type="com.leo.pojo.TravelUserCommentRel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="favour_comment_id" property="favourCommentId" jdbcType="VARCHAR" />
    <result column="favour_date" property="favourDate" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>