<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leo.mapper.TravelSearchMapper" >
  <resultMap id="BaseResultMap" type="com.leo.pojo.TravelSearch" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getHotKey" resultType="java.lang.String">
    SELECT s.content
    FROM leo_travel_system_search s
    GROUP BY s.content
    ORDER BY count(s.content)
    DESC
  </select>
</mapper>